<p>shoplist works! {{language}}</p>

<div class="wrapper">

  <div *ngFor="let item of items" class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
      <img src="{{this.holdService.picPath }}{{item.images[0].path}}" alt="image" class="border-tlr-radius">
    </div>
    <div class="card__content card__padding">
      <article class="card__article">
        <a href="#">{{item.name}}<h3>{{item.description}}</h3></a>
        <p>
          <button mat-raised-button color="primary" routerLink="detail/{{item.id}}">{{buy}}</button>
        </p>
      </article>
    </div>
  </div>
</div>
