<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Lady Shoes</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Головна</a>
      <a mat-list-item routerLink="/business">Бізнес</a>
      <a mat-list-item routerLink="/shoppingcart">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng7</span>
      <div style="position: absolute; right: 5%; top:32%" (click)="onShoppingCartClick()">
        <mat-icon   matBadge="{{bucket.items.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
        <span class="cdk-visually-hidden">
    </span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
